*{
    margin: 0%;
    padding: 0%;
}
.home{
    color: #E8FFD7;
    /* height: 100vh; */
    width: 100%;
}
.landing-nav{
    width: 100%;
    height: 60px;
    background-color: #3E5F44;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 80px;
    box-sizing: border-box;
}


.aboutus p{
    cursor: pointer;
    color: #E8FFD7;
    font-size: 16px;
}


.logo img{
    width: 100px;
}

.logo img{
    width: 100px;
}
.actions{
    flex-direction: row;
}

.home-content{
    height: calc(100vh - 60px);
    background: linear-gradient(to bottom, #f7eeee 70%, #3E5F44 30%);
    display: flex;
    justify-content: center;
    align-items: center;
}


.home-title-desc{
    height: 300px;
    width: 600px;
    max-width: fit-content;
}
.home-title-desc h1{
    color: #3E5F44;
    margin-bottom: 0.7rem;
}
.home-title-desc p{
    color: #3E5F44;
}

.home-title-desc button{
    border-radius: 4px;
    margin-top: 20px;
    border: none;
    padding: 8px 15px;
    color: #E8FFD7;
    background-color: #3E5F44;
}